.vs/
obj/
packages/

*.user

/*.bat
/*.sln
/*.md
/*.build
/*.cs
/*.png
/LICENSE
/.nuget/
/Build/
/DNN Platform/
/Documentation/
/Packages/

/Website/**/*.map
/Website/**/*.zip.manifest
/Website/*.config
/Website/*.aspx
/Website/*.cs
/Website/*.csproj
/Website/*.gif
/Website/*.ico
/Website/*.webproj
/Website/Global.asax
/Website/Robots.txt
/Website/compilerconfig.json

/Website/App_Browsers/
/Website/App_Data/
/Website/App_GlobalResources/
/Website/Components/
/Website/Config/
/Website/DesktopModules/Admin/
/Website/DesktopModules/AuthenticationServices/
/Website/DesktopModules/CoreMessaging/
/Website/DesktopModules/DDRMenu/
/Website/DesktopModules/DNNCorp/
/Website/DesktopModules/DevicePreviewManagement/
/Website/DesktopModules/DigitalAssets/
/Website/DesktopModules/HTML/
/Website/DesktopModules/Journal/
/Website/DesktopModules/MemberDirectory/
/Website/DesktopModules/MobileManagement/
/Website/DesktopModules/RazorModules/
/Website/DesktopModules/SocialGroups/
/Website/DesktopModules/bin/
/Website/DesktopModules/MVC/Web.config
/Website/Documentation/
/Website/Icons/
/Website/Install/
/Website/Licenses/
/Website/Portals/
/Website/Properties/
/Website/Providers/
/Website/Resources/
/Website/admin/
/Website/bin/
/Website/controls/
/Website/images/
/Website/js/
/Website/obj/

/Website/DesktopModules/MVC/Pipeline/install/
/Website/DesktopModules/MVC/Pipeline/**/module.css
/Website/DesktopModules/MVC/Pipeline/**/*.min.css
/Website/DesktopModules/MVC/Pipeline/**/*.min.js
node_modules/
