<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildBundlerMinifier" version="2.2.301" targetFramework="net462" />
  <package id="DotNetNuke.Core" version="8.0.4.226" targetFramework="net462" />
  <package id="DotNetNuke.Instrumentation" version="8.0.4.226" targetFramework="net462" />
  <package id="DotNetNuke.Web" version="8.0.4.226" targetFramework="net462" />
  <package id="DotNetNuke.Web.Client" version="8.0.4.226" targetFramework="net462" />
  <package id="DotNetNuke.Web.Mvc" version="8.0.4.226" targetFramework="net462" />
  <package id="DotNetNuke.WebApi" version="8.0.4.226" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net462" />
  <package id="Microsoft.web.Infrastructure" version="1.0.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net462" />
  <package id="Puma.Security.Rules" version="1.0.2" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net462" developmentDependency="true" />
</packages>